:root {
  --color-primary: rgb(95, 0, 128);
  --color-secondary: rgb(198, 128, 255);
  --color-content: rgb(51 51 51);
  --color-gary-50: rgb(249 249 249);
  --color-gary-100: #e1e1e1;
  --color-gray-200: #e1e1e1;
  --color-gray-300: rgb(166 166 166);
  --color-gray-400: rgb(137, 137, 137);
  --color-gray-500: rgb(107 107 107);
  --text-sm: 12px;
  --text-base: 16px;
  --text-lg: 28.4px;
}
summary {
  display: flex;
  gap: 20px;
  cursor: pointer;
  border-bottom: 1px solid var(--color-gary-200);

  h3 {
    display: flex;
    height: 58px;
    width: 750px;
    align-items: center;
    padding-inline: 20px;
    font-size: var(--text-base);
    font-weight: 600;
    line-height: 150%;
  }
}

.classNotice {
  display: block;
  height: 18px;
  width: 36px;
  border: 1px solid var(--color-gray-200);
  border-radius: 1px;
  text-align: center;
  font-size: var(--text-sm);
  font-weight: 600;
  line-height: 150%;
  color: var(--color-content);
  background-color: var(--color-gary-200);
}

.noticeContent {
  display: flex;
  flex-flow: column;
  gap: 10px;
  border-bottom: 1px solid var(--color-gary-200);
  background-color: var(--color-gary-50);
  padding: 20px;
  font-size: var(--text-sm);
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
